<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de carreras</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CARRERAS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/verRegistro">REGISTROS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h1 class="mb-4">Lista de carreras</h1>
        <a href="/create" class="btn btn-primary mb-4">Crear Empresa</a> 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th> 
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(function(empresa) { %>
                    <tr>
                        <td><%= empresa.Idcarrera %></td> 
                        <td><%= empresa.Nombre %></td>
                        <td>
                            <a href="/edit/<%= carrera.idcarrera %>" class="btn btn-warning">Editar</a>
                            <a href="/delete/<%= carrera.Idcarrera %>" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta carrera?');">Eliminar</a>                                                                                      
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
